.filters-container{
    display: flex;
    padding: 30px 43px;
    color: #fff;
    background-color: #383535;
    font-family: verdana;
}
.filters-left{
    display: flex;
    flex: 6;
    font-family: Verdana;
}
.filters-right{
    display: flex;
    float: right;
    cursor: pointer;
}
.filters-item{
    margin-right: 44px;
    font-weight: 900;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: #fff;
}
.right{
    margin-right: 0;
}

@media screen and (max-width: 800px) {
    .filters-item{
        font-size: 10px;
        font-weight: 700;
        text-align: center;
    }
}
.filters-item:hover{
    text-decoration: underline;
    text-underline-offset: 6px;
    text-underline-position: below;
}

.selected{
    background-color: red;
    color: purple;
}
.filter-link{
    text-decoration:"none";
    color:"#fff";
}